.splitScreen {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.leftPanel {
	display: grid;
	grid-template-rows: 40% 70%;
}
.navLeftEl {
	padding-top: 1rem;
}
.container {
	display: contents !important;
	font-size: 1.5rem;
	background-color: #1e90ff !important;
}

#navbar {
	background-color: #1e90ff !important;
}

.nav-link {
	color: #ffffff !important;
}

a:hover {
	font-size: 35px;
	padding: 0px;
}

.userImg {
	max-width: 70%;
	max-height: 70%;
	align-items: center;
}

.navLeft {
	flex-direction: column;
	background-color: #1e90ff !important;
}
